

/* Home */

.row.m-5{
    display: flex;
    align-items: center;
    justify-content: center;

}

 .card-img-top {
    width: 100%;
}

/* About me */

.g-0{
    margin-top: 45px;
}

video{
    margin-bottom: 40px;
    margin-top: 10px;
}

/* Photographs */

.gallery{
    padding-top: 40px;
}

.pt-5{
    margin-bottom: 30px;
}

/* Socialmedia */

 .display-3{
     font-size: 25px;
     font-weight: medium;
     display: flex;
     justify-content: center;
 }

.socialmi a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Title */

 .display-1{
     margin-top: 40px;
     padding-bottom: 20px;
 }


@media screen and (min-width: 700px) {

    /* Title */

   .display-1{
    margin-top: 20px;
    }

    /* Socialmedia */

    .socialmi {
        display: flex;
        direction: row;
        justify-content: center;
        align-items: center;


    }

}